<h1>Portfolio items</h1>
<a href="<%= new_portfolio_path %>">Create a new portfolio</a>
<% @portfolio_items.each do |portfolio_item| %>
<p></p>
  <p><%= link_to portfolio_item.title, portfolio_path(portfolio_item.id) %></p>
  <p><%= portfolio_item.subtitle %></p>
  <p><%= portfolio_item.body %></p>
  <p><%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %></p>
  <a href="<%= edit_portfolio_path(portfolio_item) %>">edit</a>
<%= link_to "delete this portfolio", portfolio_path(portfolio_item.id), method: :delete, data: { confirm: "are you want to delete "}%>
<% end %>
